@media all and (max-width: 1200px) {
    figure.portfolio-item  {
        width: 50%;
    }
    figure.portfolio-item:last-child {
        display: block;
        width: 100%;
    }
}

@media all and (max-width: 768px) {
    
}

@media all and (max-width: 640px) {
    
}

@media all and (max-width: 480px) {
    
}