* {
    font-family: "Lato" , sans-serif;
    font-size: 16px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* global styles */

body {
    min-height: 100%;
}

header {
    position: relative;
    width: 100%;
    height: 800px;
    background-color: grey;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    
}

p {
    font-family: "Lato" , sans-serif;
    font-weight: 100;
}

.container {
   /* border: 1px solid red;*/
    width: 100%;
    margin-top: 2em;
}

.center-container {
    position: relative;
    width: 75vw;
    height: auto;
    /* border: 1px solid blue; */
    display: block;
    margin: auto;
    font-size: 0;
    margin-bottom: 3rem;
}

/* header text */

#header-text {
    position: absolute;
    /* border: 1px solid red; */
    display: block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

h1 {
    font-family: "Roboto";
    font-weight: 100;
    font-size: 9em;
    color: #fff;
}

#surname {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    color: #1ac056;
}

h2 {
    font-family: "Roboto";
    font-weight: 100;
    font-size: 3em;
    color: #fff;
}

/* navigation */

nav {
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

nav ul {
    float: right;
}

nav li {
    display: inline-block;
    margin: 1.5em;
    list-style-type: none;
}

nav a {
    font-family: "Lato-light" , sans-serif;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    padding-bottom: 21px;
}

nav a:hover {
    border-bottom: 3px solid #1ac056;
    padding: 10px;
    padding-bottom: 21px;
}

nav .toggle, #drop {
    display: none;
}

/* O mnie */

#about {
    width: 100%;
    /* border: 1px solid red; */
    background-color: aliceblue;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 10px 0px 15px grey;
    height: auto;
    overflow: visible;
    
}

#about .center-container {
    display: flex;
    flex-wrap: wrap;
}

.about-container {
    max-width: 300px;
    font-size: 0;
    height: auto;
    /* border: 1px solid red; */
}

/* Picture */


#about img {
    width: 100%;
    max-width: inherit;
    border: 10px solid #fff;
    border-radius: 10px;
    }

/* About - text */

.about-container-text {
    padding: 5px;
}


h3 {
    font-family: "Roboto";
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 1em;
    
}

.highlight {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    color: #1ac056;
}

/* Umiejętności */

#skills {
    padding-top: 2em;
}

#skills p {
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
}

#skills-container {
    width: 50%;
    height: 200px;
    /*border: 1px solid blue;*/
    font-size: 0;
}

figure.skills {
    width: 25%;
    height: 120px;
    display: inline-block;
    /*border: 1px solid green;*/
     
}

.skills-img-container-single {
    width: 80%;
    /*border: 1px solid magenta;*/
    display: flex;
    justify-content: center;
}

#skills-container img {
    height: auto;
}

h5 {
    text-align: center;
    line-height: 4em;
    font-weight: 300;
}

/* portfolio */

section#portfolio {
    height: auto;
}

figure.portfolio-item {
    display: inline-block;
    font-size: 0px;
    width: 33.3333%;
    background-color: blue;
    margin: 0;
}

figure#item-1 {
    background-image: url(../img/portfolio1.jpg);
    background-size: cover;
    background-position: center;
    
}

figure#item-2 {
    background-image: url(../img/portfolio2.jpg);
    background-size: cover;
    background-position: center;
}

figure#item-3 {
    background-image: url(../img/portfolio3.jpg);
    background-size: cover;
    background-position: center;
}

/* portfolio-hover */

div.portfolio-item-hover {
    width: 100%;
    height: 100%;
    background-color: rgba(65, 95, 134, 0.7);
    color: #fff;
    text-align: center;
    padding: 5%;
    opacity: 0;
}

div.portfolio-item-hover-box {
    
    border: 1px solid #fff;
    padding: 2%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h4 {
    font-weight: 500;
    text-transform: uppercase;
    line-height: 3em;
}

a {
    text-decoration: none;
    color: #fff;
}

i {
    font-family: "FontAwesome";
    line-height: 2em;
}

div.portfolio-item-hover:hover {
    opacity: 100;
    transition: all 0.3s ease-in-out;
}

/* Kontakt */

section#contact {
    height: 400px;
    background: linear-gradient(to bottom, rgba(21,89,112,1) 0%, rgba(1,59,80,1) 100%);
    /*padding-left: 15%;*/
    padding-top: 2em;
}

div#adress {
    /* border: 1px solid red; */
    display: inline-block;
    color: #fff;
    line-height: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

#adress a {
    color: #1ac056;
}

section#contact h3 {
    color: #fff;
    text-align: left;
}

/* Formularz Kontaktowy */

form#contact-form {
    /*right: 15%;*/
    position: absolute;
    display: inline;
    /* border: 1px solid red; */
    right: 0px;
}

.contact-field {
    display: block;
    width: 40vw;
    height: 50px;
    margin-bottom: 10px;
    background-color: #0d546d;
    border: 1px solid #0d546d;
    outline: none;
    padding: 0.5rem;
    color: #fff;
    font-size: 0.7rem;
}

.contact-field::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.7rem;
}

.textarea {
    height: 100px;
    resize: none;
}

.button {
    width: 100px;
    height: 50px;
    background-color: #1ac056;
    border: 1px solid #1ac056;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    margin-left: 100%;
    transform: translateX(-100%);
}

#contact-social-media-container {
    display: block;
}

#contact-social-media {
    display: inline-flex;
    /* border: 1px solid magenta; */
}

.contact-social-media-box {
    margin-right: 10px;
    color: #fff;
    width: 60px;
    height: 60px;
    text-align: center;
    border: 2px solid #fff;
    line-height: 4rem;
}

.contact-social-media-box:hover {
    background-color: #1ac056;
    border: 2px solid #1ac056;
    transition: all 0.2s ease;
}

footer {
    background-color: #042633;
    color: #fff;
    font-size: 0.75rem;
    padding: 0.5rem;
    text-align: center;
}